<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="js\style.css">

  <title>ADHO</title>
</head>

<body>
  <canvas id="canvas">
  </canvas>

  <div id="app">

    <v-app>
      <v-content style="          background-image: linear-gradient(to right, rgb(0, 0, 0), #08212e);
      ">

        <v-toolbar dark dense flat style="          background-image: linear-gradient(to left, rgb(0, 0, 0), #08212e);
   ">
          <a style="text-decoration: none;" class="white--text" target="_blank" href="https://github.com/AD-HO/">
          </a>
          <v-row>


            <v-tabs v-model="tab" background-color="transparent" centered icons>


              <v-tab v-for="item in items" :key="item.tab" href="#" link>

                <v-icon>{{item.icon}}</v-icon>

              </v-tab>


            </v-tabs>


          </v-row>


        </v-toolbar>






        <v-container>

          <v-row align="center">
            <v-col class="text-center white--text " cols="12">
              <h1 class="display-1 font-weight-thin ">Houssem Adli</h1>


            </v-col>
          </v-row>
        </v-container>
        <v-row align="center">

          <v-col class="text-center  white--text" md="6" cols="12">
            <h1 class="display-1 font-weight-thin mb-4">App Development</h1>
            <h4 class="subheading">Desktop</h4>
            <h4 class="subheading">Web</h4>
            <h4 class="subheading">Mobile</h4>

          </v-col>

          <v-col class="text-center  white--text" md="6" cols="12">
            <h1 class="display-1 font-weight-thin mb-4">AI Engineering</h1>
            <h4 class="subheading">Deep Learning</h4>
            <h4 class="subheading">Computer Vision</h4>
            <h4 class="subheading">Natural Language Processing</h4>

          </v-col>
        </v-row>



        <v-row style="          background-image: linear-gradient(to left, rgb(0, 0, 0), #08212e);
     ">
          >

          <v-col cols="1"></v-col>
          <v-col cols="10">
            <v-row>

              <v-col class="text-center white--text" cols="12">
                <h1 class="display-1 font-weight-thin mb-4">AI Projects</h1>


              </v-col>
              
         
             </v-row>
          </v-col>
        </v-row>




      </v-content>


    </v-app>
  </div>



  <script src="js\script-anime.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {


        return {
          tab: null,


          items: [
            { tab: 'One', content: 'Tab 1 Content', icon: 'mdi-home' },

          ], years: [

            {
              color: 'purple darken-4',
              year: 'July, 2018',
              text: 'h1eeeekokegopkeopkgeeefefekopoejopfejgejpoejge'
            },
            {
              color: 'brown darken-4',
              year: 'July, 2020',
              text: 'h2222eeee'

            },
          ],
          items2: [['mdi-home', 'h'],
          ['mdi-email', 'Inbox'],
          ['mdi-account-supervisor-circle', 'Supervisors'],
          ['mdi-clock-start', 'Clock-in'],
          ]
        }
      }
    })
  </script>
</body>

</html>