<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="css/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="js\style.css">

  <title>ADHO</title>
</head>

<body>
  <canvas id="canvas">
  </canvas>

  <div id="app">

    <v-app>
      <v-content style="          background-image: linear-gradient(to right, rgb(0, 0, 0), #08212e);
      ">

        <v-toolbar dark dense flat style="          background-image: linear-gradient(to left, rgb(0, 0, 0), #08212e);
   ">

          <v-row>


            <v-tabs v-model="tab" background-color="transparent" centered icons>


              <v-tab v-for="item in items" :key="item.tab" href="#" link>

                <v-icon large>{{item.icon}}</v-icon>

              </v-tab>


            </v-tabs>


          </v-row>


        </v-toolbar>






        <v-container>

          <v-row align="center">
            <v-col class="text-center white--text " cols="12">
              <h1 class="display-1 font-weight-thin ">Houssem Adli</h1>
              <a style="text-decoration: none;" class="white--text" target="_blank" href="https://www.linkedin.com/in/adho/">
                <v-icon x-large color="white">
                  mdi-linkedin
                </v-icon>
                AD-HO
              </a>
              <v-icon x-large color="white">
                mdi-drag-vertical-variant
              </v-icon>
              <a style="text-decoration: none;" class="white--text" target="_blank" href="https://github.com/AD-HO/">

                AD-HO <v-icon x-large color="white">
                  mdi-github
                </v-icon>
              </a>

            </v-col>
          </v-row>
        </v-container>
        <v-row align="center">

          <v-col class="text-center  white--text" md="6" cols="12">
            <h1 class="display-1 font-weight-thin mb-4">App Development</h1>
            <h4 class="subheading">Desktop</h4>
            <h4 class="subheading">Web</h4>
            <h4 class="subheading">Mobile</h4>

          </v-col>

          <v-col class="text-center  white--text" md="6" cols="12">
            <h1 class="display-1 font-weight-thin mb-4">AI Engineering</h1>
            <h4 class="subheading">Deep Learning</h4>
            <h4 class="subheading">Computer Vision</h4>
            <h4 class="subheading">Intelligent Search</h4>

          </v-col>
        </v-row>



        <v-row style="          background-image: linear-gradient(to left, rgb(0, 0, 0), #08212e);
     ">
          >

          <v-col cols="1"></v-col>
          <v-col cols="10">
            <v-row>

              <v-col class="text-center white--text" cols="12">
                <h1 class="display-1 font-weight-thin mb-4">Projects</h1>


              </v-col>
 
              <v-col class="text-left white--text" md="4" cols="12">
                <v-card class="mx-auto cardd" max-width="400">
                  <v-img class="white--text align-end" height="200px" src="images/iceye_cinematic_sh70.webp">
                    <v-card-title>SAR Optical Image Super-Resolution</v-card-title>
                  </v-img>


                  <v-card-text class="text--primary">

                    <div>
                      <v-chip color="blue-grey darken-4" text-color="white"> Synthetic Aperture Radar
                      </v-chip>
                      <v-chip color="blue-grey darken-4" text-color="white">
                      Channel Attention                    </v-chip>
                    
                    </div>
                  </v-card-text>

                  <v-card-actions>
                
                    <v-btn color="orange" text target="_blank"
                      href="https://drive.google.com/file/d/1ciOMpogYl6ygPsrciJas0HOs-GvPVdcu/view?usp=sharing">
                      Demo
                    </v-btn>
                    <!-- <v-btn color="orange" text target="_blank" href="https://github.com/AD-HO/SR-ONNX">
                      Github
                    </v-btn> -->
                  </v-card-actions>
                </v-card>
              </v-col>
              <v-col class="text-left white--text" md="4" cols="12">
                <v-card class="mx-auto cardd" max-width="400">
                  <v-img class="white--text align-end" height="200px" src="images/iceye_cinematic_sh70.webp">
                    <v-card-title>SAR-to-Optical Image Translation</v-card-title>
                  </v-img>


                  <v-card-text class="text--primary">

                    <div>
                      <v-chip color="blue-grey darken-4" text-color="white"> Synthetic Aperture Radar
                      </v-chip>
                      <v-chip color="blue-grey darken-4" text-color="white">
                      Channel Attention                    </v-chip>
                    
                    </div>
                  </v-card-text>

                  <v-card-actions>
                
                    <v-btn color="orange" text target="_blank"
                      href="https://drive.google.com/file/d/1PbEJyEkpSlfGL8Stqmt2KE4-ZfrSzHY-/view?usp=sharing">
                      Demo
                    </v-btn>
                    <!-- <v-btn color="orange" text target="_blank" href="https://github.com/AD-HO/SR-ONNX">
                      Github
                    </v-btn> -->
                  </v-card-actions>
                </v-card>
              </v-col>

              <v-col class="text-left white--text" md="4" cols="12">
                <v-card class="mx-auto cardd" max-width="400">
                  <v-img class="white--text align-end" height="200px" src="images/cv.jpg">
                    <v-card-title>Super-Resolution</v-card-title>
                  </v-img>


                  <v-card-text class="text--primary">

                    <div>
                      <v-chip color="blue-grey darken-4" text-color="white"> Super-Resolution
                      </v-chip>
                      <v-chip color="blue-grey darken-4" text-color="white">
                        ONNX Runtime
                      </v-chip>
                    </div>
                  </v-card-text>

                  <v-card-actions>
                
                    <v-btn color="orange" text target="_blank"
                      href="https://drive.google.com/file/d/1XloZSYAYmEXQJb7EKAAXkg0ZJdZObXCv/view?usp=share_link">
                      Demo
                    </v-btn>
                    <v-btn color="orange" text target="_blank" href="https://github.com/AD-HO/SR-ONNX">
                      Github
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>

              <v-col class="text-left white--text" md="4" cols="12">
                <v-card class="mx-auto cardd" max-width="400">
                  <v-img class="white--text align-end" height="200px"
                    src="images/obj.jpg">
                    <v-card-title>Object Detection</v-card-title>
                  </v-img>


                  <v-card-text class="text--primary">

                    <div>
                      <v-chip color="blue-grey darken-4" text-color="white"> Yolov5
                      </v-chip>

                          <v-chip color="blue-grey darken-4" text-color="white">
                            ML.NET
                          </v-chip>

                          <v-chip color="blue-grey darken-4" text-color="white">
                            ONNX Runtime
                          </v-chip>
                    </div>
                  </v-card-text>

                  <v-card-actions>

                  
                    <v-btn color="orange" text target="_blank"
                      href="https://drive.google.com/file/d/1pYIe0kT4yeJiFIOEaLLJeUQrduvpVswN/view">
                      Demo
                    </v-btn>
                    <v-btn color="orange" text target="_blank" href="https://github.com/AD-HO/YOLOv5-ML.NET">
                      Github
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
              <v-col class="text-left white--text" md="4"
      cols="12">
        <v-card
        class="mx-auto cardd"
        max-width="400"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="images/reid.png"
        >
          <v-card-title>Multi-Camera Tracking</v-card-title>
        </v-img>
    
    
        <v-card-text class="text--primary">
    
          <div>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            Person Re-Idef
            </v-chip>

       

            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            Real-Time Tracking
            </v-chip>

           
            
            
            
          </div>
        </v-card-text>
    
        <v-card-actions>
          
        <v-btn
        color="orange"
        text
        target="_blank"
        href="https://drive.google.com/file/d/1JgGmQO98ZKaLJAruBzdYIcv8YFPPJzct/view"
      >
        Demo
      </v-btn>
      <!-- <v-btn
      color="orange"
      text
      target="_blank"
      href="https://github.com/AD-HO/"
    >
      Github
    </v-btn> -->
        </v-card-actions>
      </v-card>
      </v-col>
      <v-col class="text-left white--text" md="4"
      cols="12">
        <v-card
        class="mx-auto cardd"
        max-width="400"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="images/depth.png"
        >
          <v-card-title>Monocular Dpeth Estimation</v-card-title>
        </v-img>
    
    
        <v-card-text class="text--primary">
    
          <div>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            MiDaS
            </v-chip>

       

            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            Dept Estimation
            </v-chip>

            
          </div>
        </v-card-text>
    
        <v-card-actions>
          
        <v-btn
        color="orange"
        text
        target="_blank"
        href="https://drive.google.com/file/d/1i9Opti6F1LvHUe19eW4w154PwnPVYgkh/view"
      >
        Demo
      </v-btn>
      <!-- <v-btn
      color="orange"
      text
      target="_blank"
      href="https://github.com/AD-HO/"
    >
      Github
    </v-btn> -->
        </v-card-actions>
      </v-card>
      </v-col>
      <v-col class="text-left white--text" md="4"
      cols="12">
        <v-card
        class="mx-auto cardd"
        max-width="400"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://user-images.githubusercontent.com/23495527/60962022-f0d0e580-a33f-11e9-813d-6f3767cd6346.png"
        >
          <v-card-title>Road Segmentation</v-card-title>
        </v-img>
    
    
        <v-card-text class="text--primary">
    
          <div>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            HybridNets
            </v-chip>

       

         
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            Road Segmentation
            </v-chip>

           
            
            
            
          </div>
        </v-card-text>
    
        <v-card-actions>
          
        <v-btn
        color="orange"
        text
        target="_blank"
        href="https://drive.google.com/file/d/17EIF-S5qoJ6QhpiZAqf3SVrWgyxMVsQX/view"
      >
        Demo
      </v-btn>
      <!-- <v-btn
      color="orange"
      text
      target="_blank"
      href="https://github.com/AD-HO/"
    >
      Github
    </v-btn> -->
        </v-card-actions>
      </v-card>
      </v-col>

      <v-col class="text-left white--text" md="4"
      cols="12">
        <v-card
        class="mx-auto cardd"
        max-width="400"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://www.cvlibs.net/datasets/kitti-360/images/example/3d/instance/01800.jpg"
        >
          <v-card-title>Sensor Fusion </v-card-title>
        </v-img>
    
    
        <v-card-text class="text--primary">
    
          <div>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            Depth Perception
            </v-chip>
           

            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            RGB-D
            </v-chip>

       

            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            Sensor Fusion
            </v-chip>

           
            
            
            
          </div>
        </v-card-text>
    
        <v-card-actions>
          
        <v-btn
        color="orange"
        text
        target="_blank"
        href="https://drive.google.com/file/d/1gb7WEb3y5V9ZzvUfqhhoIzPtQQKGU0tK/view"
      >
        Demo
      </v-btn>
      <!-- <v-btn
      color="orange"
      text
      target="_blank"
      href="https://github.com/AD-HO/"
    >
      Github
    </v-btn> -->
        </v-card-actions>
      </v-card>
      </v-col>














      <v-col class="text-left white--text" md="4" cols="12">
        <v-card class="mx-auto cardd" max-width="400">
          <v-img class="white--text align-end" height="200px" src="images/ai.jpg">
            <v-card-title>SAT Solver</v-card-title>
          </v-img>


          <v-card-text class="text--primary">
            <div> <v-chip color="blue-grey darken-4" text-color="white">
                Satisfaction Problem
              </v-chip>
              <v-chip color="blue-grey darken-4" text-color="white">
                Meta-Heuristics
              </v-chip>
            </div>
          </v-card-text>

          <v-card-actions>

            <!-- <v-btn
            color="orange"
            text
            target="_blank"
            href="SATSolver.html"
          >
            Explore
          </v-btn> -->
            <v-btn color="orange" text target="_blank"
              href="https://drive.google.com/file/d/1Vf61JsqhlqdBa4XHON14abyKBbfMgRu_/view?usp=sharing">
              Demo
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>


      <v-col class="text-left white--text" md="4" cols="12">
        <v-card class="mx-auto cardd" max-width="400">
          <v-img class="white--text align-end" height="200px" src="images/nlp.jpg">
            <v-card-title>Arabic POS-TAGGER</v-card-title>
          </v-img>


          <v-card-text class="text--primary">

            <div>
              <v-chip color="blue-grey darken-4" text-color="white">
                Arabic
              </v-chip>
              <v-chip color="blue-grey darken-4" text-color="white">
                POS-Tagging
              </v-chip>
              <v-chip color="blue-grey darken-4" text-color="white">
                NTLK
              </v-chip>
            </div>
          </v-card-text>

          <v-card-actions>
            <v-btn color="orange" text target="_blank" href="https://github.com/mounir4023/MSA_POS_Tagger">
              Github
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

            </v-row>
          </v-col>
        </v-row>




      </v-content>


    </v-app>
  </div>



  <script src="js\script-anime.js"></script>

  <script src="js/vue.js"></script>
  <script src="js/vuetify.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {


        return {
          tab: null,


          items: [
            { tab: 'One', content: 'Tab 1 Content', icon: 'mdi-home' },

          ], years: [

            {
              color: 'purple darken-4',
              year: 'July, 2018',
              text: 'h1eeeekokegopkeopkgeeefefekopoejopfejgejpoejge'
            },
            {
              color: 'brown darken-4',
              year: 'July, 2020',
              text: 'h2222eeee'

            },
          ],
          items2: [['mdi-home', 'h'],
          ['mdi-email', 'Inbox'],
          ['mdi-account-supervisor-circle', 'Supervisors'],
          ['mdi-clock-start', 'Clock-in'],
          ]
        }
      }
    })
  </script>
</body>

</html>
