<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>ADHO</title>
</head>
<body>
  <div id="app" >
    <v-app >
      <v-content         
      >
        <v-toolbar
      dark
      
      src="BackgroundR.png"
    >
<a  style="text-decoration: none;" class="white--text" target="_blank" href="https://github.com/AD-HO/">  
      <v-toolbar-title  href="#" style="text-decoration: none;">      <v-icon x-large>mdi-github</v-icon>        Ad-Ho </v-toolbar-title>
</a>
      <v-row>
       
        
        <v-tabs
        v-model="tab"
        background-color="transparent"
        centered
        icons
      >
      
     
      <v-tab
          v-for="item in items"
          :key="item.tab"
          href="#"
          link>
        
        <v-icon>{{item.icon}}</v-icon>
      
      </v-tab>
      

        </v-tabs>
      
        
      </v-row>

     
    </v-toolbar>
 
  

    <v-tabs-items v-model="tab">
       

           <!--AAAAAAAAAAAAAAAAAAAAA-->
 <v-tab-item
       
      >
     
    <v-parallax
      dark
      src="https://cdn.hipwallpaper.com/i/31/63/QKNE38.jpg">
      <v-container >

      <v-row
align="center"

      >
      <v-col class="text-center white--text "  
      cols="12"
      
     >
        <h1 class="display-1 font-weight-thin ">Adli Houssem</h1>


      </v-col>
      </v-row>
      </v-container>
      <v-row
align="center"
      >
      <v-col class="text-left white-text"   md="6"
      cols="12">
        <h1 class="display-1 font-weight-thin mb-4">App Development</h1>
        <h4 class="subheading">Desktop</h4>
        <h4 class="subheading">Web</h4>
        <h4 class="subheading">Mobile</h4>

      </v-col>
      
        <v-col class="text-left white--text" md="6"  cols="12">
          <h1 class="display-1 font-weight-thin mb-4">AI Engineering</h1>
          <h4 class="subheading">Deep Learning</h4>
          <h4 class="subheading">Computer Vision</h4>
          <h4 class="subheading">Natural Language Processing</h4>

        </v-col>
      </v-row>
    </v-parallax>
     <v-row

      >
      <v-col   cols="1"></v-col>
      <v-col   cols="10">
        <v-row

        >
      <v-col class="text-center black--text"  cols="12">
        <h1 class="display-1 font-weight-thin mb-4">AI Projects</h1>


      </v-col>
      <v-col class="text-left black--text"  md="4"
      cols="12">
        <v-card
        class="mx-auto"
        max-width="400"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://storage.googleapis.com/dev-dot-ai-project-ic.appspot.com/1/2020/05/960x0.jpg">
          <v-card-title>SAT Problem</v-card-title>
        </v-img>
    
    
        <v-card-text class="text--primary">
          <div>   <v-chip
            
          color="blue-grey darken-4"
          text-color="white"
        >
        Satisfaction Problem
        </v-chip>
        <v-chip
            
        color="blue-grey darken-4"
        text-color="white"
      >
      Meta-Heuristics
          </v-chip>
        </div>
        </v-card-text>
    
        <v-card-actions>
          
          <v-btn
            color="orange"
            text
            target="_blank"
            href="SATSolver.html"
          >
            Demo
          </v-btn>
        </v-card-actions>
      </v-card>
      </v-col>
      
     
      <v-col class="text-left black--text" md="4"
      cols="12">
        <v-card
        class="mx-auto"
        max-width="400"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://www.analyticsinsight.net/wp-content/uploads/2020/03/0_4x5HPrOlbSE0kXzz.jpg">
          <v-card-title>Arabic POS-TAGGER</v-card-title>
        </v-img>
    
    
        <v-card-text class="text--primary">
    
          <div>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
          >
          Arabic
                </v-chip>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
          >
          POS-Tagging
          </v-chip>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
          >
          NTLK
          </v-chip> </div>
        </v-card-text>
    
        <v-card-actions>
          <v-btn
            color="orange"
            text
            target="_blank"
            href="https://github.com/mounir4023/MSA_POS_Tagger"
          >
            Github
          </v-btn>
        </v-card-actions>
      </v-card>
      </v-col>
      
      <v-col class="text-left black--text" md="4"
      cols="12">
        <v-card
        class="mx-auto"
        max-width="400"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://www.lebigdata.fr/wp-content/uploads/2019/06/computer-vision-definition-660x330.jpg"
        >
          <v-card-title>Super-Resolution</v-card-title>
        </v-img>
    
    
        <v-card-text class="text--primary">
    
          <div>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > Super-Resolution
            </v-chip>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            >
            ONNX Runtime
            </v-chip>
             </div>
        </v-card-text>
    
        <v-card-actions>
          
        <v-btn
        color="orange"
        text
        target="_blank"
        href="SR.html"
      >
        Demo
      </v-btn>
      <v-btn
      color="orange"
      text
      target="_blank"
      href="https://github.com/AD-HO/SR-ONNX"
    >
      Github
    </v-btn>
        </v-card-actions>
      </v-card>
      </v-col>
      
      
      <v-col class="text-left black--text" md="4"
      cols="12">
        <v-card
        class="mx-auto"
        max-width="400"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://specials-images.forbesimg.com/imageserve/5ee30129d8bc730007cc701c/960x0.jpg?fit=scale"
        >
          <v-card-title>Object Detection</v-card-title>
        </v-img>
    
    
        <v-card-text class="text--primary">
    
          <div>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            >  Yolov5
            </v-chip>
           
         
          <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            ML.NET
            </v-chip>

            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            ONNX Runtime  
            </v-chip>
          </div>
        </v-card-text>
    
        <v-card-actions>
          
        <v-btn
        color="orange"
        text
        target="_blank"
        href="YoloDetection.html"
      >
        Demo
      </v-btn>
      <v-btn
      color="orange"
      text
      target="_blank"
      href="https://github.com/AD-HO/YOLOv5-ML.NET"
    >
      Github
    </v-btn>
        </v-card-actions>
      </v-card>
      </v-col>

      
      
      <v-col class="text-left black--text" md="4"
      cols="12">
        <v-card
        class="mx-auto"
        max-width="400"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://hailo.ai/wp-content/uploads/2021/02/BLOG-POST-894X400PX.jpg"
        >
          <v-card-title>Multi-Person Tracking</v-card-title>
        </v-img>
    
    
        <v-card-text class="text--primary">
    
          <div>
            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            Person Re-Idef
            </v-chip>

       

            <v-chip
            
            color="blue-grey darken-4"
            text-color="white"
            > 
            Real-Time Tracking
            </v-chip>

           
            
            
            
          </div>
        </v-card-text>
    
        <v-card-actions>
          
        <v-btn
        color="orange"
        text
        target="_blank"
        href="https://drive.google.com/file/d/1XJIVKnYznayP5HU4PMD31LEBkzBHqX3C"
      >
        Demo
      </v-btn>
      <v-btn
      color="orange"
      text
      target="_blank"
      href="https://github.com/AD-HO/Multi-Person-Tracking"
    >
      Github
    </v-btn>
        </v-card-actions>
      </v-card>
      </v-col>
      <!--
      <v-col class="text-right black--text" md="4"
      cols="12">
        <v-card
        class="mx-auto"
        max-width="400"
      >
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://www.lebigdata.fr/wp-content/uploads/2019/06/computer-vision-definition-660x330.jpg"
        >
          <v-card-title>Object Recognition</v-card-title>
        </v-img>
    
    
        <v-card-text class="text--primary">
    
          <div>YOLO,Object Detection,Object Recognition</div>
        </v-card-text>
    
        <v-card-actions>
          
        <v-btn
        color="orange"
        text
        target="_blank"
        href="ObjectDetection.html"
      >
        Demo
      </v-btn>
        </v-card-actions>
      </v-card>
      </v-col>
      -->
        </v-row>
      </v-col>
      </v-row>
   
    
      <v-row

      >
      <v-col   cols="1"></v-col>
      <v-col   cols="10">
       

      </v-tab-item>


           <!--AAAAAAAAAAAAAAAA-->

       <v-tab-item
       
       >
          <!--
           <div
          
          style="background-image: url('BackgroundR.png');"
          class="white--text "
        
          >
          <br>
          <br>
         
          
          <v-timeline 
          >
           
            <v-timeline-item
              
              color="brown"
              small
            >
              <template v-slot:opposite>
                July,  <span
                  class="`headline font-weight-bold blue--text`"
                  v-text="2018"
                ></span>
              </template>
              <div class="py-4">
                <h2 class="`headline font-weight-light mb-4 blue--text`">Bachelor, Information Systems and Software Engineering </h2>
                <div>
                  University of Science and Technology Houari Boumediene, Algiers, Algeria
                  <br>
            <strong> Fields of research </strong>: Software engineering, Database management
                <br>
                <strong>  Grade : A+ </strong>
                  
                </div>
              </div>
            </v-timeline-item>
            <v-timeline-item
              
              color="red"
              small
            >
              <template v-slot:opposite>
               July, <span
                  class="`headline font-weight-bold blue--text`"
                  v-text="2020"
                ></span>
              </template>
              <div class="py-4">
                <h2 class="`headline font-weight-light mb-4 blue--text`">Master,                   Intelligent IT Systems
          </h2>
                <div>
                  University of Science and Technology Houari Boumediene, Algiers, Algeria
                  <br>
            <strong> Fields of research </strong>: Machine Learning, Data Mining, Computer Vision
                <br>
                <strong>  Grade : A+ </strong>
                  
                </div>
              </div>
            </v-timeline-item>
          </v-timeline> 
        </div>
       
        <v-row

      >
      <v-col   cols="1"></v-col>
      <v-col   cols="10">
        </v-row

        >
    -->
       </v-tab-item>

            <!--AAAAAAAAAAAAAAAA-->

      <v-tab-item
       
      >
       
      </v-tab-item>


            <!--DDDDDDDDD-->

     
    </v-tabs-items>
      </v-content>
          
  
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
       data () {

        
            return {
              tab: null,

              items: [
          { tab: 'One', content: 'Tab 1 Content', icon: 'mdi-home' },
          { tab: 'Two', content: 'Tab 2 Content', icon: 'mdi-school' },

        ],years: [
        
        {
          color: 'purple darken-4',
          year: 'July, 2018',
          text:'h1eeeekokegopkeopkgeeefefekopoejopfejgejpoejge'
        },
        {
          color: 'brown darken-4',
          year: 'July, 2020',
          text:'h2222eeee'

        },
      ],
              items2: [        ['mdi-home','h'],
        ['mdi-email', 'Inbox'],
        ['mdi-account-supervisor-circle', 'Supervisors'],
        ['mdi-clock-start', 'Clock-in'],
            ]
            }
          }
    })
  </script>
</body>
</html>