<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>ADHO</title>
    <style>
    * {box-sizing: border-box;}

    .img-zoom-container {
      position: relative;
    }
    
    .img-zoom-lens {
      position: absolute;
      /*set the size of the lens:*/
      width: 60px;
      height: 60px;
    }
    
    .img-zoom-result {
      border: 1px solid #d4d4d4;
      /*set the size of the result div:*/
      width: 280px;
      height: 320px;
    }
    </style>
      
</head>
<body>
    <div id="app">

        <v-app>
          
            <v-content>


                <v-toolbar dark
                           src="BackgroundR.png">


                           <a  style="text-decoration: none;" class="white--text" target="_blank" href="https://github.com/AD-HO/">  
                            <v-toolbar-title  href="#" style="text-decoration: none;">      <v-icon x-large>mdi-github</v-icon>        Ad-Ho </v-toolbar-title>
                      </a>
                    <v-row>


                        <v-tabs v-model="tab"
                                background-color="transparent"
                                centered
                                icons>


                            <v-tab v-for="item in items"
                                   :key="item.tab"
                                   href="#"
                                   link>

                                <v-icon>{{item.icon}}</v-icon>

                            </v-tab>


                        </v-tabs>


                    </v-row>


                </v-toolbar>
                
                <div v-if="value > 0">

                    <v-progress-linear :value="value"
                    stream
                                       color="blue darken-4"></v-progress-linear>
                    <h5 class="text-center black--text"> {{value}} %</h5>
                </div>

             
                        <v-row align="center">




                            <v-col class="text-center white--text" cols="12">
                              <h3 class="text-center black--text">Image Super Resolution x3</h3>

                                <h4 class="black--text"> Triple the size of your images without losing quality   x3 </h4>

                                <h4 class="black--text"> Due to lack of processing power, please enter an Image with a size less than (700,700) </h4>
                                <!--  <v-btn text large color="white" v-on:click="Doit" class="elevation-6">RESUME PDF</v-btn>
                    -->
                    
                                <div id="preview">
                                    <v-file-input v-model="file"
                                                  chips
                                                  accept="image/*"
                                                  label="Image"
                                                  @change="onFileChange()" />
                                </div>
                                
                            

                            </v-col>
                            
                        </v-row>
                        <v-row align="center">
                            <v-col class="text-center black--text" cols="6">
                                        <h6>Super-resolution Model
                                            <a href="#" id="srLink" v-on:click="showSr()">Full SR Image</a>

                                        </h6>
                            
                                        <img  id="srImg"  width="280px" height="300px"  >
                                        <h6>Bicubic Interpolation
                                            <a href="#" id="srLink" v-on:click="showBic()">Full Bicubic Image</a>
        
                                        </h6>
        
                                        <img id="bicImg"  width="280px" height="300px" >
                                    
                           




                            </v-col>
                            <v-col class="text-center black--text" cols="6">
                                
                                

                                <div id="myresult1" class="img-zoom-result"></div>

                            <div id="myresult2" class="img-zoom-result" ></div>

                            </v-col>
                        </v-row>
                 
            </v-content>
            <v-row justify="center">
                
            
                <v-dialog
                  v-model="dialog"
                  max-width="400"
                >
                  <v-card>
                    <v-card-title class="text-h5">
Waitingto the server                     </v-card-title>
            
                    <v-card-text>
                      In case this message last longer than 30s, please refresh the page

                        <div>
                      
                            <v-progress-linear
                              indeterminate
                              color="cyan"
                            ></v-progress-linear>
                          </div>
                                            </v-card-text>
            
                  </v-card>
                </v-dialog>
              </v-row>

        </v-app>
        

   
    </div>
  
    <script src="js/signalr.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        
    <script src="js/SR.js"></script>
    
 <script>

function imageZoom2(imgID1,imgID2,resultID1,resultID2)
                      {
                        var img, lens, result, cx, cy;
                        img = document.getElementById(imgID1);
                        img2 = document.getElementById(imgID2);

                        result = document.getElementById(resultID1);
                        result2 = document.getElementById(resultID2);

                        /*create lens:*/
                        lens = document.createElement("DIV");
                        lens.setAttribute("class", "img-zoom-lens");
                        
                        lens2 = document.createElement("DIV");
                        lens2.setAttribute("class", "img-zoom-lens");
                        

                        /*insert lens:*/
                        img.parentElement.insertBefore(lens, img);

                        img2.parentElement.insertBefore(lens2, img2);
                        /*calculate the ratio between result DIV and lens:*/
                        cx = result.offsetWidth / lens.offsetWidth;
                        cy = result.offsetHeight / lens.offsetHeight;
                        /*set background properties for the result DIV:*/
                        result.style.backgroundImage = "url('" + img.src + "')";
                        result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
                        

                        result2.style.backgroundImage = "url('" + img2.src + "')";
                        result2.style.backgroundSize = (img2.width * cx) + "px " + (img2.height * cy) + "px";
                        
                        
                        /*execute a function when someone moves the cursor over the image, or the lens:*/
                        lens.addEventListener("mousemove", moveLens);
                        img.addEventListener("mousemove", moveLens);
                        /*and also for touch screens:*/
                        lens.addEventListener("touchmove", moveLens);
                        img.addEventListener("touchmove", moveLens);

                        function moveLens(e) {
                          var pos, x, y;
                          /*prevent any other actions that may occur when moving over the image:*/
                          e.preventDefault();
                          /*get the cursor's x and y positions:*/
                          pos = getCursorPos(e);
                          /*calculate the position of the lens:*/
                          x = pos.x - (lens.offsetWidth / 2);
                          y = pos.y - (lens.offsetHeight / 2);
                          /*prevent the lens from being positioned outside the image:*/
                          if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
                          if (x < 0) {x = 0;}
                          if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
                          if (y < 0) {y = 0;}
                          /*set the position of the lens:*/
                          lens.style.left = x + "px";
                          lens.style.top = y + "px";
                          
                          /*display what the lens "sees":*/
                          result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
                          if (x > img.width - lens2.offsetWidth) {x = img.width - lens2.offsetWidth;}
                          if (x < 0) {x = 0;}
                          if (y > img.height - lens2.offsetHeight) {y = img.height - lens2.offsetHeight;}
                          if (y < 0) {y = 0;}
                          /*set the position of the lens:*/
                          lens2.style.left = x + "px";
                          lens2.style.top = y + "px";
                          
                          /*display what the lens "sees":*/
                          result2.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
                          
                       
                        }
                        function getCursorPos(e) {
                          var a, x = 0, y = 0;
                          e = e || window.event;
                          /*get the x and y positions of the image:*/
                          a = img.getBoundingClientRect();
                          /*calculate the cursor's x and y coordinates, relative to the image:*/
                          x = e.pageX - a.left;
                          y = e.pageY - a.top;
                          /*consider any page scrolling:*/
                          x = x - window.pageXOffset;
                          y = y - window.pageYOffset;
                          return {x : x, y : y};
                        }
                      }

//imageZoom("srImg", "myresult");





 </script>

      
</body>

</html>